// font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

// varibales
$biruGelap: #005073;
$biruSetGelap: #107dac;
$biruLangit: #189ad3;
$biruAqua: #1ebbd7;
$biruMuda: #71c7ec;



// style global
body {
    background-color: rgb(236, 236, 236);
}

html {
    scroll-behavior: smooth;
}

.jumbotron {
    background-image: url(/img/bg/bg.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
    margin-top: -70px;
    min-height: 600px;
    box-shadow: 0 2px 4px rgb(70, 70, 70);

    .container {
        text-align: center;
        margin-top: 100px;
        color: white;
        text-shadow: 2px 2px 4px black;

        .profile {
            margin-top: 50px;
            width: 200px;
            margin-bottom: 25px;
            box-shadow: 2px 2px 4px rgb(70, 70, 70);
        }
    }
}

section {
    padding-top: 100px;
}

.section-about {
    padding-top: 10px;
}

h3 {
    text-align: center;
}

.card {
    margin-top: 50px;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 1px 15px rgba(17, 26, 104, 0.3);
    transition: 0.3s ease;

    &:hover {
        box-shadow: 0 1px 15px rgba(30, 187, 215, 1);
    }
}

.isi {
    text-align: justify;
}

.about {
    margin-top: 100px;
}

#portfolio {
    background-color: rgba(24, 154, 211, 0.25);
    height: 90%;

    .row {
        display: flex;
        align-items: center;

        .img-portfolio {
            width: 75%;
        }
    }
}

.container-portfolio {
    position: relative;
    margin-bottom: 20px;

    &:hover .image {
        opacity: 0.5;
    }

    &:hover .middle {
        opacity: 1;
    }
}

.image {
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        letter-spacing: 2px;

        .text {
            // background-color: #4CAF50;
            color: white;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 500;
            padding: 16px 32px;
        }
    }
}

.form {
    border-radius: 50px;
    padding: 10px 20px;
}

.form-area {
    border-radius: 10px;
    // padding: 5px 20px;
}

.button-send {
    background-color: $biruLangit;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 0;
    border: 0;
    border-radius: 25px;
    transition: 0.3s ease-out;

    &:hover {
        background-color: $biruSetGelap;

    }
}

.button-loading {
    background-color: $biruAqua;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 0;
    border: 0;
    border-radius: 25px;
    opacity: 0.5;
}




// Desktop version
@media screen and (min-width: 992px) {
    .custom-nav {
        height: 100px;
        transition: 0.5s ease;
        .container {
            .navbar-brand {
                color: white;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 700;
                font-size: 1.5em;
            }

            #navbarNav {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: white;
                            margin-right: 20px;
                            text-transform: uppercase;
                            font-weight: 500;
                            transform: 0.3s ease;

                            &:hover {
                                color: $biruLangit;
                                border-bottom: 3px solid $biruLangit;
                                margin-bottom: -3px;
                                transform: 0.3s ease;
                            }
                        }
                    }
                }
            }
        }
    }


    .sticky {
        background-color: white;
        height: 50px;
        transition: 0.5s ease;
        box-shadow: 2px 2px 4px rgb(190, 190, 190);
        
        .container {
            .navbar-brand {
                color: $biruLangit;
                font-weight: 700;
            }

            #navbarNav {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: $biruLangit;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

    .field {
        height: 100%;
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .mouse {
            width: 50px;
            height: 90px;
            border: 3px solid #333;
            border-radius: 60px;
            position: relative;
    
            &::before{
                content: '';
                width: 12px;
                height: 12px;
                position: absolute;
                top: 10px;
                left: 50%;
                transform: translateX(-50%);
                background-color: #333;
                border-radius: 50%;
                opacity: 1;
                animation: wheel 2s infinite;
            }
        }
    }

    @keyframes wheel {
        to {
            opacity: 0;
            top: 60px;
        }
    }

    .foot {
        background-color: $biruLangit;
        color: white;
        font-weight: 400;
        padding: 3px;
    
        .posisi {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
    
            ul {
                display: flex;
                list-style: none;
                justify-content: space-evenly;
                margin-left: -35px;
                width: 300px;
    
                li {
                    a {
                        font-size: 2rem;
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .envelope {
        width: 100%;
    }

    .img-profile {
        width: 75%;
        transform: translate(-50%, 50%);
    }
}

@media screen and (max-width: 1400px) {
    .img-profile {
        position: relative;
        z-index: -1;
    }
}

// Mobile version
@media screen and (max-width: 992px) {
    .custom-nav {
        background-color: white;

        .container {
            .navbar-brand {
                text-transform: uppercase;
                color: $biruLangit;
                font-weight: 700;
            }
        }
    }

    .jumbotron {
        .container {
            color: white;
            text-shadow: 2px 2px 4px black;

            .profile {
                width: 175px;
            }
        }
    }

    .field {
        height: 100%;
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center; 
        
        .scroll {
            width: 60px;
            height: 60px;
            border: 2px solid #333;
            border-radius: 50%;
            position: relative;
            animation: down 1.5s infinite;

            &::before {
                content: '';
                position: absolute;
                top: 15px;
                left: 18px;
                width: 18px;
                height: 18px;
                border-left: 2px solid #333;
                border-bottom: 2px solid #333;
                transform: rotate(-45deg);
                
            }
        }

        @keyframes down {
            0% {
                transform: translate(0);
            }

            20% {
                transform: translateY(15px);
            }

            40% {
                transform: translate(0);
            }
        }
    }

    .foot {
        background-color: $biruLangit;
        color: white;
        font-weight: 500;
        padding: 3px;

        .posisi {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 14px;

            ul {
                display: flex;
                list-style: none;
                justify-content: space-evenly;
                margin-left: -35px;
                width: 300px;
    
                li {
                    a {
                        font-size: 1.5rem;
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .envelope {
        width: 75%;
        margin-left: 50px;
        margin-bottom: 20px;
    }

    .img-profile {
        width: 75%;
        margin-left: 50px;
    }

    .line {
        margin-bottom: -1px;
    }
}